<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="./style/style.css">
</head>

<!--<body>-->
<!--<div class="frame" class=flex>-->
<!--    <a id="home-button-aboutus" class="nav-button" href="/" target="_self">Home</a>-->
<!--    <br><br><br>-->

<!--    <div class="dev-content">-->
<!--        <h1>Meet the Team</h1>-->
<!--        <br>-->
<!--        <p class=readable>We have created a .........-->
<!--        </p>-->
<!--        <br>-->
<!--    </div>-->

<!--    <br>-->

<!--    <div class=profile-img>-->
<!--        <img src="/styles/pics/peter.jpg" class="pic">-->
<!--    </div>-->
<!--    <div>-->

<!--        <p class=bold-name>Peter Cole <a href="https://github.com/petercole3" target="_blank"><img-->
<!--                src="/styles/pics/github_PNG58.png" class="github-logo"></a><a-->
<!--                href="https://www.linkedin.com/in/petercole3/" target="_blank"><img src="/styles/pics/li.png"-->
<!--                                                                                    class="github-logo"></a></p>-->
<!--        <p class=readable>-->
<!--            Hi! I am a 28 year old software engineer. Web development in the outdoor industry is where I am trying to-->
<!--            find my next home, but AI for the automotive industry and CNC machining software also intrigue me. I value-->
<!--            a community driven and empowering work environment. Outside of work, I volunteer with a mountaineering-->
<!--            nonprofit and play the tuba.-->
<!--        </p><br>-->
<!--    </div>-->

<!--    <div class=profile-img>-->
<!--        <img src="/styles/pics/Brandon.jpg" class="pic">-->
<!--    </div>-->
<!--    <div>-->

<!--        <p class=bold-name>Brandon Johnson <a href="https://github.com/splintercel3000" target="_blank"><img-->
<!--                src="/styles/pics/github_PNG58.png" class="github-logo"></a><a-->
<!--                href="https://www.linkedin.com/in/brandon-johnson-33a581109/" target="_blank"><img src="/styles/pics/li.png"-->
<!--                                                                                                   class="github-logo"></a></p>-->
<!--        <p class=readable>-->
<!--            My name is Brandon Johnson and I am a 23 year old Software Developer. I have a background in Computer Science-->
<!--            including minor knowledge of the languages C++ and Python. More recently I have a background in retail to build-->
<!--            up around customer service.-->
<!--        </p><br>-->
<!--    </div>-->

<!--    <div class=profile-img>-->
<!--        <img src="/styles/pics/shingo.jpeg" class="pic">-->
<!--    </div>-->
<!--    <div>-->

<!--        <p class=bold-name>Shingo Nakajima <a href="https://github.com/shingoed" target="_blank"><img-->
<!--                src="/styles/pics/github_PNG58.png" class="github-logo"></a><a href="https://www.linkedin.com/in/shingoed/"-->
<!--                                                                               target="_blank"><img src="/styles/pics/li.png" class="github-logo"></a></p>-->
<!--        <p class=readable>-->
<!--            I am a software developer and I like to build apps. I decided to dive into the-->
<!--            world-->
<!--            of software development because I became-->
<!--            interested in building my own apps. I am dedicated, hardworking and motivated to-->
<!--            bring great ideas into reality.-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->

</html>