<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <th:block th:replace="fragments/common :: head"> </th:block>
</head>
<body>
    <nav th:replace="fragments/common :: navbar"></nav>
    <div class="container">
        <button th:if="${isAuthorized == true}" class="btn btn-success nBtn">New Item</button>
        <div class="card">
            <div class="card-block">
<!--                Displaying the table for products.-->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ItemCode</th>
                        <th>Name</th>
                        <th>Width</th>
                        <th>Length</th>
                        <th>Color</th>
                        <th>Style</th>
                        <th>Type</th>
                    </tr>
                    </thead>

                    <tbody>
<!--                    Iterate through data object which got passed in with addAttribute to display the products.-->
                    <tr th:each="product : ${data}">
                        <td th:text="${product.itemCode}"></td>
                        <td th:text="${product.itemName}"></td>
                        <td th:text="${product.width}"></td>
                        <td th:text="${product.length}"></td>
                        <td th:text="${product.color}"></td>
                        <td th:text="${product.style}"></td>
                        <td th:text="${product.type}"></td>
<!--                        Show this table data for normal user.-->
                        <td th:unless="${isAuthorized == true}">
                            <form action="/mycart" method="POST">
                                <input type="number" id="quantity" name="quantity" placeholder="Add Quantity">
                                <input type="hidden" id="item_id" name="item_id" th:value="${product.item_id}">
                                <input type="submit" class="btn btn-primary" value="Add to Cart!">
                            </form>
                        </td>
<!--                        Show this table data only if the user are authorized/admin.-->
                        <td th:if="${isAuthorized == true}">
                            <a th:href="@{/delete/(id=${product.id})}" class="btn btn-danger delBtn">Delete</a>
                            <a th:href="@{/findOne/(id=${product.id})}" class="btn btn-primary eBtn">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

<!--        Form modal to Edit / Add Products. This modal only popepd up when user is an admin.-->
        <div class="myForm">
            <form th:action="@{/save}" method="POST">
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update or Create</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="id" name="id" value=" "/>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="itemCode" class="col-form-label">Item Code:</label>
                                    <input type="text" class="form-control" id="itemCode" name="itemCode" value=" "/>
                                </div>
                                <div class="form-group">
                                    <label for="itemName" class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" id="itemName" name="itemName" value=" "/>
                                </div>
                                <div class="form-group">
                                    <label for="length" class="col-form-label">Length:</label>
                                    <input type="text" class="form-control" id="length" name="length" value=" "/>
                                </div>
                                <div class="form-group">
                                    <label for="width" class="col-form-label">Width:</label>
                                    <input type="text" class="form-control" id="width" name="width" value=" "/>
                                </div>
                                <div class="form-group">
                                    <label for="color" class="col-form-label">Color:</label>
                                    <input type="text" class="form-control" id="color" name="color" value=" "/>
                                </div>
                                <div class="form-group">
                                    <label for="style" class="col-form-label">Style:</label>
                                    <input type="text" class="form-control" id="style" name="style" value=" "/>
                                </div>
                                <div class="form-group">
                                    <label for="type" class="col-form-label">Type:</label>
                                    <input type="text" class="form-control" id="type" name="type" value=" "/>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="save"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
<!--        Delete modal-->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="alert alert-danger">Are you sure you want to delete this item?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="" class="btn btn-danger" id="delReference">Delete</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>
</html>